ProyectoIUProdPack/Fuentes/IUProdPack/IUProdPack/Connected Services/WsPiciz/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SepararFormulario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="empid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Cliente" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tipoDoc" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Prefijo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Comprobante" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Fecha" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SepararFormularioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SepararFormularioResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompletarFormulario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="empid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="idFMM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cliente" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tipoDoc" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Prefijo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Comprobante" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Fecha" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompletarFormularioResponse">
        <s:complexType />
      </s:element>
      <s:element name="RegistrarFormulario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="empid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Cliente" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tipoDoc" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Prefijo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Comprobante" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Fecha" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarFormularioResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SepararFormularioSoapIn">
    <wsdl:part name="parameters" element="tns:SepararFormulario" />
  </wsdl:message>
  <wsdl:message name="SepararFormularioSoapOut">
    <wsdl:part name="parameters" element="tns:SepararFormularioResponse" />
  </wsdl:message>
  <wsdl:message name="CompletarFormularioSoapIn">
    <wsdl:part name="parameters" element="tns:CompletarFormulario" />
  </wsdl:message>
  <wsdl:message name="CompletarFormularioSoapOut">
    <wsdl:part name="parameters" element="tns:CompletarFormularioResponse" />
  </wsdl:message>
  <wsdl:message name="RegistrarFormularioSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrarFormulario" />
  </wsdl:message>
  <wsdl:message name="RegistrarFormularioSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarFormularioResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="SepararFormulario">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Separar un formulario de movimiento de mercancia</wsdl:documentation>
      <wsdl:input message="tns:SepararFormularioSoapIn" />
      <wsdl:output message="tns:SepararFormularioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CompletarFormulario">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo para completar un formulario de movimiento de mercancia</wsdl:documentation>
      <wsdl:input message="tns:CompletarFormularioSoapIn" />
      <wsdl:output message="tns:CompletarFormularioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarFormulario">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo para registrar un formulario de movimiento de mercancia</wsdl:documentation>
      <wsdl:input message="tns:RegistrarFormularioSoapIn" />
      <wsdl:output message="tns:RegistrarFormularioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SepararFormulario">
      <soap:operation soapAction="http://tempuri.org/SepararFormulario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompletarFormulario">
      <soap:operation soapAction="http://tempuri.org/CompletarFormulario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarFormulario">
      <soap:operation soapAction="http://tempuri.org/RegistrarFormulario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SepararFormulario">
      <soap12:operation soapAction="http://tempuri.org/SepararFormulario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompletarFormulario">
      <soap12:operation soapAction="http://tempuri.org/CompletarFormulario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarFormulario">
      <soap12:operation soapAction="http://tempuri.org/RegistrarFormulario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://10.104.8.99/servicios/wspiciz/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://10.104.8.99/servicios/wspiciz/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>