Reportes/Fuentes/IUReportes/IUReportes/Connected Services/WsReportes/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CargarReporte">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NomConexion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_TipoDoc" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_Prefijo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_NumDoc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_FechaGen" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="_Comprobante" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Observaciones" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_TipoImpresion" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CargarReporteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CargarReporteResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CargarReporteSoapIn">
    <wsdl:part name="parameters" element="tns:CargarReporte" />
  </wsdl:message>
  <wsdl:message name="CargarReporteSoapOut">
    <wsdl:part name="parameters" element="tns:CargarReporteResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="CargarReporte">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna la información para cargar el reporte</wsdl:documentation>
      <wsdl:input message="tns:CargarReporteSoapIn" />
      <wsdl:output message="tns:CargarReporteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CargarReporte">
      <soap:operation soapAction="http://tempuri.org/CargarReporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CargarReporte">
      <soap12:operation soapAction="http://tempuri.org/CargarReporte" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://10.104.8.5/Servicios/wsReportes/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://10.104.8.5/Servicios/wsReportes/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>